* {
  list-style: none;
  color: #222222;
  margin: 0;
  padding: 0;
  text-align: center;
}

#wrap {
  margin: 20px auto;
  padding: 20px;
}

header ul {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  top: 0;
  width: 70%;
}

header ul li {
  font-size: 1.5em;
  background-color: antiquewhite;
  padding: 10px;
  background-color: #1c5d99;
  color: white;
}

header h1 {
  color: #222222;
  font-size: 3em;
  border-bottom: 4px solid #bbcde5;
  padding-bottom: 50px;
  width: 80%;
  margin: 100px auto;
}

/* 서비스 소개 및 프로젝트 개요 */
.overview,
.ui_back {
  margin-top: 150px;
}

.service h1,
.overview h1,
.ui_back h1 {
  color: #1c5d99;
  margin: 20px auto;
  font-size: 2.3em;
}
.service h2,
.overview h2 {
  color: #639fab;
  text-align: left;
  margin: 20px 30px;
  font-size: 1.8em;
}

.container,
.container_three {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px dotted #bbcde5;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.container div {
  flex: 0 0 50%;
}
.container_three div {
  flex: 0 0 33%;
}

.container div img,
.container_three div img {
  width: 95%;
}

/* UI 기술 상세 */
video {
  max-width: 80%;
  display: block;
  margin: 20px auto;
}

.user,
.manager {
  margin-bottom: 150px;
}

.user section {
  display: grid;
  grid-template-columns: 3fr 6fr;
}

.manager section {
  display: grid;
  grid-template-columns: 6fr 3fr;
}

.user section div:first-child,
.manager section div:nth-child(2) {
  align-self: center;
  padding-left: 50px;
}

.ui_back h2,
.ui_back h3 {
  text-align: left;
  margin: 20px 30px;
}

.ui_back h2 {
  color: #639fab;
  padding-bottom: 20px;
  margin-top: 50px;
  font-size: 1.8em;
}


.ui_back h3 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.ui_back h3::before {
  content: "⭐️ ";
}

.ui_back h3::after {
  content: " ⭐️";
}

.page_container {
  border-bottom: 2px solid #bbcde5;
}

.page_container:first-of-type {
  border-top: 2px solid #bbcde5
}

.page_container section h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.page_container section h5 {
  text-align: left;
  margin: 20px 10px 10px;
}

.page_container section div p {
  margin-bottom: 5px;
  text-align: justify;
}

.page_container section div p::before {
  content: "📌 ";
}

.subject section {
  border-bottom: 2px dotted #bbcde5;
  padding: 20px;
}

.subject section:last-child {
  border-bottom: none;
}
